@keyframes waveGradient {
    0% {
        background-position: 0 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.center {
    background: rgba(255, 255, 255, 0.9);
    padding: 80px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    position: relative;
    overflow: hidden;
}

.center::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 4px;
    background: #007BFF;
    transform: translateX(-50%);
    border-radius: 2px;
}

.header {
    margin-bottom: 20px;
    color: #333;
}

.inputContainer {
    position: relative;
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
    font-size: 14px;
    background: transparent;
}

.input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #888;
    transition: 0.3s;
    pointer-events: none;
}

.input:focus + .label,
.input:valid + .label {
    top: 5px;
    font-size: 12px;
    color: #007BFF;
}

.input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
    background: transparent;
}

.input[type="password"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button {
    width: 50%;
    background: linear-gradient(135deg, #007BFF, #0056b3);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.button:hover {
    background: linear-gradient(135deg, #0056b3, #003f7f);
}

.pass {
    text-align: right;
    font-size: 12px;
    color: #007BFF;
    cursor: pointer;
    transition: 0.3s;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-left: auto;
    display: block;
    width: 100%;
}

.pass:hover {
    color: #0056b3;
    text-decoration: underline;
}

.signupLink {
    margin-top: 12px;
    font-size: 16px;
    text-align: center;
    color: #007BFF;
    cursor: pointer;
}

.signup_link:hover {
    color: #0056b3;
    text-decoration: underline;
}
